{% extends "base.html" %}

{% block content %}
<main class="flex mt-5 justify-center capitalize">
<div class="card  w-4/5 text-gray-950 font-bold bg-white flex items-center ">
    <h1 class="text-4xl uppercase">About</h1>
    <p class='sm:text-2xl text-md  p-5'> we can use website to share our knowledge <br>
    Most of them were stuggling to solve SRM virutal lab question so here find answer for  that and <br>
    check how other solve program effiecently </p>
    <p class='text-2xl pb-5'>this page was created by <span><a class="underline text-blue-500" href="https://instagram.com/stranger.conf">Stranger</a></span>
    </p>
</div>
</main>

{% endblock content %}
