{% extends "base.html" %}
{% load static tailwind_tags %}
{% tailwind_css %}

{% block content %}
<p class="card capitalize text-white text-center font-bold m-3">
    <span class="bg-red-500 w-14 ">NOTE:</span> this is website does not contain any answer because it is at starting stage. you can share you question and answer for 
    that. so your friends can learn to solve difficult problem and if you already solve a problem. you may see how other solve that 
    in low complexity and optimization way <span class="bg-red-500 w-14">(the wesbite may work and open slowly because it $0 budget project so all sever, database are setup on free tier with minimum spec)</span>
</p>
<form method="post" class="flex justify-center items-center   gap-2 mt-2">
    {% csrf_token %}
    <textarea type="text" name="search"placeholder="Search Here" id="" class="rounded-xl w-4/5 font-bold text-black"></textarea>
    <button class="btn btn-primary">Search</button>
</form>
{% comment %} content {% endcomment %}
{% include "question.html" %}
{% endblock content %}
